.headerOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0 10px;
    color: grey;
    cursor: pointer;
}

.headerOption:hover{
    color: black;
}

.headerOption__title{
    font-size:12px;
    font-weight: 400;
}

